<div class="server-definition">
  <mat-form-field>
    <mat-label>Port number</mat-label>
    <input matInput placeholder="80" [(ngModel)]="application.port" [disabled]="application.isRunning">
    <mat-hint>Between 1025 and 65535</mat-hint>
  </mat-form-field>

  <button mat-flat-button matSuffix (click)="onStartStopButton()">
      <mat-icon>{{ application.isRunning ? 'pause_circle_outline' : 'play_circle_outline'}}</mat-icon>
  </button>
</div>
<mat-accordion *ngIf="application.requests$ | async as requests">
  <mat-expansion-panel *ngFor="let req of requests">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ req.method }}
      </mat-panel-title>
      <mat-panel-description>
        {{ req.url }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div>
      Headers:
      <div *ngFor="let item of asEntries(req.headers)">
        {{ item.key }} : {{ item.value }}
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
